.bx-wrapper{
    text-align: center;
    height: 450px;
    position: relative;
    border: none;
    box-shadow: none;
}


.bx-pager-link:hover{
    color: #3142C5;
}

.pretitle_1{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #3142C6;
    margin-bottom: 28px;
    
}


.text_1{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    max-width: 750px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 34px;
}

.name{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2B292D;
}

.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
    margin-bottom: 38px;
}

.carusel{
    position: relative;
}

.tree{
    position: absolute;
    right: 40%;
    left: 68%;
    top: 127%;
    bottom: 0;
}

.carusel1{
    height: 450px;
}

.bx-wrapper .bx-pager {
    position: absolute;
    bottom: 157px;
    right: 9px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus{
    background-color: #3142C6;
}

