body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    padding: 44px 0 71px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;

}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_start{
    justify-content: start;
}

.logo img{
    margin-right: 15px;
}

.header-h6{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.header-p{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header-link{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header-link:hover{
    font-weight: 700;
}

.header-link-underline1:hover::after{
    content: '';
    width: 55px;
    height: 1px;
    position: absolute;
    background-color: #2B292D;
    top: 80px;
    right: 935px;
}

.header-link-underline2:hover::after{
    content: '';
    width: 65px;
    height: 1px;
    position: absolute;
    background-color: #2B292D;
    top: 80px;
    right: 845px;
}

.ul{
    margin-right: 105px;
    list-style: none;
}

.header-li:not(:last-of-type){
    margin-right: 30px;
}

.header-button{
    width: 160px;
    height: 48px;
    border: none;
    background-color: #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700px;
}

.header-button:hover, .section1-button1:hover,.section1-button2:hover{
    cursor: pointer;
    transition: 1s;
    background-color: #4653cb;
}

.section1{
    background-color: #F3C6BD;
    padding: 71px 0 77px;
}

.section1-div1{
    display: flex;
    justify-content: center;
    position: relative;
}

.section1-h1{ 
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2B292D;
    max-width: 754px;
    position: absolute;
    left: 387px;
    bottom: 247px;
}

.section1-div1 img{
    padding-left: 557px;
}

.section1-p{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    width: 456px;
    margin: 0 390px;
}

.button{
    margin: 58px 390px;
}

.section1-button1{
    width: 160px;
    height: 48px;
    border-radius: 2px;
    background-color: #3040C4;
    border: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
}

.section1-button2{
    width: 158px;
    height: 48px;
    border-radius: 2px;
    background-color: #FFFFFF;
    border: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: #3040C4;
}

.section2{
    background-color: #F4F5F7;
    padding: 77px 0 76px;
}


.section2-div-p1, .section2-div-p2{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    width: 555px;
}

.section2-div-p1 span, .section2-div-p2 span{
    font-weight: 700;
}

.section2-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section3-ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    max-width: 1139.77px;
    margin: 30px auto;
    justify-content: center;
}

 .section3-li:not(:last-of-type){ 
    margin-right: 105px;
}

.section5-div1{
    margin: 90px 650px;
}

.section5-h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    text-align: center;
}

.section5-p{
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
}

.images-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    margin-top: 30px;
    gap: 20px 20px;
}

.item:nth-child(3), .item:nth-child(4){
    grid-row: span 2;
}


.audience{
    background-color: RGBA(175,238,238,0.37);
}

.audience-div1{
    text-align: center;
}

.audience-p1{
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    padding-top: 108px;
}

.audience-h1{
    max-width: 555px;
    margin: 24px auto;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
}

.audience-p2 { 
    max-width: 555px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin: 30px auto;
 }


 .audience-b1{
    border: none;
    width: 160px;
    height: 48px;
    background-color: #3040C4;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    margin-top: 34px;
 }

 .audience-b2{
    border: none;
    width: 160px;
    height: 48px;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: #000000;
 }

 .audience-grid {
    margin: 111px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .audience-grid-div{
    max-width: 262px;
    height: 300px;
    background-color: #FFFFFF;
    margin-bottom: 110px;
    border-radius: 10px;
 }

 .audience-grid-div:hover{
    background-color: #3040C4;
    cursor: pointer;
 }

 .img-p{
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
 }

 .img-p:hover{
    color: #FFFFFF;
 }

 .audience-item{
    margin: 22px 62px;
 }

 .inbox{
    background-color: RGBA(252,240,227,0.4);
    padding: 117px 0 116px;
 }

 .inbox_response{
    max-width: 515px;
    width: 100%;
    background-color: #FFFFFF;
    padding: 30px 30px 24px;
    box-sizing: border-box;
    border-bottom: 4px solid #0185D0;;
 }

 .inbox_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 26px;
 }

 .inbox_text span{
    font-weight: bold;
 }

 .inbox_name{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2B292D;
 }

 .inbox_position{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2B292D;;
 }

 .inbox_img{
    margin-right: 11px;
 }

 .info_pretitle{
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 26px;
 }

 .info_pretitle-orange{
    color: #F1592B;
 }

 .info_title{
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    max-width: 462px;
    margin-bottom: 26px;
 }

 .info_text{
    max-width: 461px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 44px;
 }

 .communicate{
    padding: 110px 126px 105px;
 }

 .communicate-list{
    margin-top: 129px;
 }

 .communicate-list-box{
    max-width: 360px;
 }

 .communicate-list-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    margin-bottom: 4px;
 }

 .communicate-list-text span{
    font-weight: bold;
 }

 .communicate-list-link{
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #3040C4;
 }