body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    padding: 44px 0 71px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;

}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_start{
    justify-content: start;
}

.logo img{
    margin-right: 15px;
}

.header-h6{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.header-p{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header-link{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header-link:hover{
    font-weight: 700;
}

.header-link-underline1:hover::after{
    content: '';
    width: 55px;
    height: 1px;
    position: absolute;
    background-color: #2B292D;
    top: 80px;
    right: 935px;
}

.header-link-underline2:hover::after{
    content: '';
    width: 65px;
    height: 1px;
    position: absolute;
    background-color: #2B292D;
    top: 80px;
    right: 845px;
}

.ul{
    margin-right: 105px;
    list-style: none;
}

.header-li:not(:last-of-type){
    margin-right: 30px;
}

.header-button{
    width: 160px;
    height: 48px;
    border: none;
    background-color: #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700px;
}

.header-button:hover, .section1-button1:hover,.section1-button2:hover{
    cursor: pointer;
    transition: 1s;
    background-color: #4653cb;
}

.represent{
    background-color: #F3C6BD;
    padding: 71px 0 77px;
}

.represent_section{
    display: flex;
    justify-content: center;
    position: relative;
}

.represent_name{ 
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2B292D;
    max-width: 754px;
    position: absolute;
    left: 387px;
    bottom: 247px;
}

.represent_section img{
    padding-left: 557px;
}

.represent_text{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    width: 456px;
    margin: 0 390px;
}

.represent_buttons{
    margin: 58px 390px;
}

.button1{
    width: 160px;
    height: 48px;
    border-radius: 2px;
    background-color: #3040C4;
    border: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
}

.button2{
    width: 158px;
    height: 48px;
    border-radius: 2px;
    background-color: #FFFFFF;
    border: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: #3040C4;
}

.questions{
    background-color: #F4F5F7;
    padding: 77px 0 76px;
}


.questions-text1, .questions-text2{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    width: 555px;
}

.questions-text1 span, .questions-text2 span{
    font-weight: 700;
}

.questions-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logos_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 30px auto;
}


.grid_section{
   text-align: center;
}

.section_name{
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
}

.section_text{
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    max-width: 554px;
    margin: 0 auto 10px;
}

.images-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    margin-top: 0 auto;
    gap: 20px 20px;
}

.item:nth-child(3), .item:nth-child(4){
    grid-row: span 2;
}

.item{
    max-width: 100%;
}


.audience{
    background-color: RGBA(175,238,238,0.37);
}

.audience-div1{
    text-align: center;
}

.audience-p1{
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    padding-top: 108px;
}

.audience-h1{
    max-width: 555px;
    margin: 24px auto;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
}

.audience-p2 { 
    max-width: 555px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin: 30px auto;
 }


 .audience-b1{
    border: none;
    width: 160px;
    height: 48px;
    background-color: #3040C4;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    margin-top: 34px;
 }

 .audience-b2{
    border: none;
    width: 160px;
    height: 48px;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: #000000;
 }

 .audience-b1:hover, .audience-b2:hover{
    position: relative;
    transition-duration: 1s;
    transition-timing-function: linear;
    transform: translateY(10px);
    background-color: #F3C6BD;
    color: #000000;
 }

 .audience-grid {
    margin: 111px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .audience-grid-div{
    max-width: 262px;
    height: 300px;
    background-color: #FFFFFF;
    margin-bottom: 110px;
    border-radius: 10px;
 }

 .audience-grid-div:hover{
    background-color: #3040C4;
    cursor: pointer;
    color: #FFFFFF;
 }

 .img-p{
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
 }

 .audience-item{
    margin: 22px 62px;
 }

 .inbox{
    background-color: RGBA(252,240,227,0.4);
    padding: 117px 0 116px;
 }

 .container_image_img:hover{
    animation-name: container_image_img;
    position: relative;
    animation-duration: 1s;
    animation-direction: reverse;
    transform: rotate(180deg);
 }

 @keyframes container_image_img{
    from{
        top: 0px;
        bottom: 0%;
    }

    to{
        top: 10px;
        /* bottom: 5px;  */
    }
 }

 .inbox_response{
    max-width: 515px;
    width: 100%;
    background-color: #FFFFFF;
    padding: 30px 30px 24px;
    box-sizing: border-box;
    border-bottom: 4px solid #0185D0;;
 }

 .inbox_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 26px;
 }

 .inbox_text span{
    font-weight: bold;
 }

 .inbox_name{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2B292D;
 }

 .inbox_position{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2B292D;;
 }

 .inbox_img{
    margin-right: 11px;
 }

 .info_pretitle{
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 26px;
 }

 .info_pretitle-orange{
    color: #F1592B;
 }

 .info_title{
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    max-width: 462px;
    margin-bottom: 26px;
 }

 .info_text{
    max-width: 461px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 44px;
 }

 .communicate{
    padding: 110px 126px 105px;
 }

 .header-button:hover{
    position: relative;
    animation-name: header-button;
    animation-duration: 5s;
    animation-timing-function: linear;
    background-color: #0185D0;
    color: #2B292D;
 }

 @keyframes header-button{
    from{
        top: 10px;
    }

    to{
        bottom: 0px;
    }
 }

 .info_pretitle_blue{
    color: blue;
    font-weight: bold;
 }

 .phone:hover{
    position: relative;
    transition-duration: 1s;
    transition-timing-function: linear;
    transform: rotate(45deg);
 }


 .communicate-list{
    margin-top: 129px;
 }

 .communicate-list-box{
    max-width: 360px;
 }

 .communicate-list-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    margin-bottom: 4px;
 }

 .communicate-list-text span{
    font-weight: bold;
 }

 .communicate-list-link{
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #3040C4;
 }

 .subscribe{
    margin-top: 91px;
    background-color: #D9D9D9;
}

.trail{
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
}

.window_img{
    margin: 73px auto;
}

.window_img:hover{
    position: relative;
    animation-name: window_img;
    animation-duration: 1s;
    animation-direction: reverse;
}

@keyframes window_img{
    from{
       top: 0 px;
    }

    to{
       top: -10px;
    }
}

.trail_info{
    margin: 106px auto;
}

.trail_title{
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;   
    margin-bottom: 12px;
}

.trail_text1{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    margin-bottom: 32px;
    max-width: 555px;
}

.trail_input-text{
    width: 385px;
    height: 48px;
    border: none;
    border-radius: 2px;
    background-color: #FFFFFF;
    font-size: 18px;
    line-height: 13px;
    color: #2B292D;
    padding: 17px 15px;
    margin-bottom: 10px;
}

.trail_button{
    border: none;
    border-radius: 2px;
    background-color:  #3040C4;
    width: 160px;
    height: 48px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    margin-left: 10px;
}

.trail_button:hover{
    position: relative;
    transition-duration: 1s;
    transform: translateY(-10px);
}

.trial_text2{
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

 @media screen and (max-width: 1090px){
    .container{
        max-width: 750px;
    }

    .header-p{
        display: none;
    }

    .header_nav{
        display: none;
    }

    .flex_inbox-column{
        flex-direction: column-reverse;
    }

    .inbox{
        padding: 56px 0 69px;
    }

    .info{
        text-align: center;
    }

    .info_title{
        margin: 0 auto 14px;
        font-size: 48px;
        line-height: 52px;
    }

    .info_text{
        max-width: 429px;
        margin: 0 auto 41.13px;
        font-size: 20px;
        line-height: 26px;
    }

    .inbox_response{
        margin: 0 auto 75px;
        text-align: start;
    }


    .section_name{
        width: 500px;
        font-size: 48px;

    }

    .questions-block{
        display: block;
    }

    .questions-text1{
        max-width: 432px;
        margin: 0 auto;
    }

    .questions-text2{
        max-width: 432px;
        margin: 35px auto 0;
    }

    .logos_list{
        width: 620px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
    }

    .container_flex_text{
        display: block;
        text-align: center;
    }

    .info_title{
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.5px;
        max-width: 318px;
        margin-bottom: 19px;
    }

    .header-button{
        margin-bottom: 37px;
    }

    .communicate-list-box:not(:nth-child(1)){
        display: none;
    }

    .communicate-list{
        max-width: 322px;
        text-align: center;
        margin: 38px auto;
    }

    .audience-b2{
        margin-left: 10px;
    }

    .audience-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-width: 588px;
    }

    .section_name{
        font-size: 48px;
        line-height: 56px;
    }


    .grid_section{
        text-align: center;
        margin: 0 auto;
    }

    .section_text{
        font-size: 20px;
        line-height: 34px;
        margin: 10px 0 85px;
    }

    .images-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .item:nth-child(3){
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .item:nth-child(4){
        grid-row: 2/4;
    }

    .item:nth-child(2){
        grid-row: 4/5;
        grid-column: 2/3;
    }

    .item:nth-child(7){
        display: none;
    }
 }

 @media screen and (max-width: 800px){
    .container{
        max-width: 500px;
    }

    .header{
        padding: 25px 0;
    }

    .inbox{
        padding: 40px 0;
    }

    .inbox_response{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 550px) {
    .container{ 
    max-width: 430px;
    }

    .info_pretitle{
        margin-bottom: 20px;
    }

    .info_title{
        font-size: 36px;
        line-height: 48px;
    }
}

@media screen and (max-width: 480px) {
    .container{
        max-width: 310px;
    }

    .container_image_img{
        width: 100%;
       }
}

@media screen and (max0width: 360px) {
    .container{
        max-width: 300px;
    }
    
}

 @media screen and (max-width: 320px){
    .container{
        max-width: 290px;
    }

    .header{
        background-color: #FFFFFF;
        padding: 8px 0;
    }

    .logo img{
        margin-right: 13px;
    }

    .flex_inbox-column{
        flex-direction: column;
    }

    .container_image{
    margin-bottom: 32px;
    }

   .inbox{
    padding: 50px auto 48px;
   }

   .info{
    text-align: start;
   }

   .info_title{
    margin-bottom: 17px;
   }

   .info_title{
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    margin-bottom: 18px;
   }

   .info_text{
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 30px;
   }

   .grid_section{
    margin: 0 auto;
   }

   .section_name{
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    max-width: 326px;
   }

   .section_text{
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    max-width: 303px;
    margin-bottom: 25px;
   }

   .item{
    max-width: 290px;
   }

   .images-grid{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 17px;
    margin: 0px 15px; 
   }

   .item:nth-child(3){
    grid-column: 1/2;
    grid-row: 4/6;
}

.item:nth-child(4){
    grid-row: 2/4;
}
   .item:nth-child(2){
    display: none;
   }

   .questions-text1{
    max-width: 290px;
    margin: 0 auto;
}

.questions-text2{
    max-width: 290px;
    margin: 35px auto 0;
}

.logos_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1px 0px;
} 

.image_lo{
    max-width: 77px;
}

.communicate{
    padding: 53px 0px;
}

.container_flex_text{
    text-align: start;
    margin-left: 10px;
}

.info_title{
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
}

.info_text{
    font-size: 24px;
    line-height: 34px;
}

.container_flex_text img{
        max-width: 290px;
}

.audience-h1{
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    font-weight: bold;
}
.audience-p2{
    font-size: 24px;
    line-height: 34px;
}

.audience-b1, .audience-b2{
    width: 290px;
}

.audience-b2{
    margin: 10px 0;
}

.audience-grid{
    display: grid;
    grid-template-columns: none;
}

.section_name{
    font-size: 40px;
    line-height: 47px;
    text-align: center;
}
}

@media screen and (max-width: 1200px){ 
    .container{
        max-width: 1040px;
    }

    .ul{
        margin-right: 50px;
    }
 }

